.left-sidebar {
    position: fixed;
    left:0;
    top:0;
    width: 20%;
    height: 100%;
    background-color: black;
    text: white;
}
.font-33 {
  font-size:33px;
}
.main-title {
  transform: translate(13%);
}
.my-button {
  background-color: black !important;
  color: white !important;
}
button:hover {
  color: blue !important;
  text-decoration: underline !important;
}
.date-picker {
  font-size: 30px !important;
  cursor: pointer;
  border: solid;
  margin-top: 10px;
}
.font-50 {
  font-size: 30px;
}
.content {
  width: 65%;
  float:right;
  margin-right:150px;
}
